.margin-t-20 {
  margin-top: 20px !important;
}

.margin-l-10 {
  margin-left: 10px !important;
}

.margin-r-10 {
  margin-right: 10px !important;
}

.margin-r-5 {
  margin-right: 5px !important;
}

.margin-t-10 {
  margin-top: 10px !important;
}

.margin-t-60 {
  margin-top: 60px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}
