//
// Themes / Sharoo / Custom
// --------------------------------------------------

.widget-rating .active a {
  color: $sharoo-green !important;
}


#main-navbar .btn-switch-admin {
  border-radius: 0 !important;
  &:hover{
    border: 1px solid #22272e !important;
    background-color: #22272e !important;
    color: #e66454 !important;
  }
}