//
// Themes / Sharoo / Forms
// --------------------------------------------------

// Form states
//

// Common
.has-warning, .has-error, .has-success {
  .help-block {
    &:before {
      border-bottom: none;
      border-width: 7px;
      left: 16px;
      top: -7px;
    }
  }
}

// Error
.has-error {
  @include pixel-form-state-light(#f2dede, $sharoo-text-color, #f2dede);
  @include form-control-validation($sharoo-text-color, #f2dede, #f2dede);
}
