.row
  #dashboard-maps.col-sm-12
    = render 'dashboard/index/map'
.row.py-4
  #dashboard-pie-charts.col-md-12.col-xl-6
    = render 'dashboard/index/continent_progress_charts'
  .col-md-12.col-xl-6
    = render 'dashboard/index/countries_chart'
-# .row
  -# .col-sm-4
    -# Top countries
