- provide(:title, "About")
%h1= yield(:title)

%p The RApp Messaging web application is just a prototype. Please bear that in mind when using it.

%p The idea for this application is to allow users to view their SMS messages sent to this system.

%p This web application was developped using the Ruby on Rails MVC framework, following the MVC convention. This application was developped as an exercise to gain knowlegde and experince with Rails application.
