%h1 Hello!
.row
  .col-md-7
    = render 'shared/map'
  .col-md-5
    %h2 Frequent traveller?
    %p You can track the countries you have visited and the frequency too.
    %p Keep up to date with your travels.
    %p 'Tick' those countries of your list.
