# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore env config files
.env

# Ignore coverage results
/coverage/*

# Ignore all logfiles and tempfiles.
/log/*
/log
/tmp
*~
.*

#OS files
.DS_Store

#Byebug histroy
.byebug_history

#Specs
spec/examples.txt
coverage/

#db
database.yml
db/structure.sql
config/database.yml

#pubic
public/uploads/*
public/exports/**
exports/**
public/exports/**
public/assets/**/*

#do not ignore
!.ruby-version
!.rubocop.yml
!.env.sample
!.env.ci

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
