# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore env config files
.env

# Ignore coverage results
/coverage/*

# Rubocop config
.rubocop.yml

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

#OS files
.DS_Store

#Byebug histroy
.byebug_history
