:javascript
  var worldMap = svgPanZoom('#world-svg-desktop', { controlIconsEnabled: true });
  var worldSvgCountries = $('#world-svg-desktop [data-toggle="tooltip"]');

  document.addEventListener("turbolinks:load", () => {
    worldSvgCountries.tooltip({
      container: 'body',
      placement: 'right',
      trigger: 'hover',
      template: '<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>'
    });

    $(window).resize(function(){
      worldMap.resize();
      worldMap.fit();
      worldMap.center();
    });

    worldSvgCountries.on('mousedown', function() {
      $(this).on('mousemove', flagged);
      $(this).tooltip('hide');
    });

    worldSvgCountries.on('mouseup', function() {
      $(this).off('mousemove', flagged);
      $(this).tooltip('show');
    });

    worldSvgCountries.on('mouseup', function(e) {
      if (this.isScrolled) {
        $(this).on('click', preventClick);
      } else {
        $(this).off('click', preventClick);
      }
      this.isScrolled = false;
      $(this).off('mousemove', flagged);
    });
  });

  function flagged() { this.isScrolled = true; }

  function preventClick(event) {
    event.preventDefault();
    event.stopImmediatePropagation();
  }

  function saveSvg(svgEl, name) {
    handleButtonPreDownload();

    new Promise(function(resolve, reject) {
      resolve(
        ssag.saveSvgAsPng(
          svgEl,
          name,
          {scale: 2, encoderOptions: 1, backgroundColor: '#ffffff'}
        )
      );
    }).then(
        function(_success) { handleButtonPostDownload(); },
        function(_error) { handleButtonPostDownload(); }
      );
  }

  function handleButtonPreDownload() {
    const downloadMapButton = document.getElementById('download-button')
    const downloadMapIcon = document.getElementById('download-icon')
    const downloadMapSpinner = document.getElementById('download-spinner')

    downloadMapButton.disabled = true;
    downloadMapIcon.classList.add('d-none');
    downloadMapSpinner.classList.remove('d-none');

    worldMap.disableControlIcons();
  }

  function handleButtonPostDownload() {
    const downloadMapButton = document.getElementById('download-button')
    const downloadMapIcon = document.getElementById('download-icon')
    const downloadMapSpinner = document.getElementById('download-spinner')

    downloadMapSpinner.classList.add('d-none');
    downloadMapIcon.classList.remove('d-none');
    downloadMapButton.disabled = false;

    worldMap.enableControlIcons();
  }
