:javascript
  var worldSvgCountries = $('#world-svg-desktop [data-toggle="tooltip"]');

  function saveSvg(svgEl, name) {
    handleButtonPreDownload();

    new Promise(function(resolve, reject) {
      resolve(
        ssag.saveSvgAsPng(
          svgEl,
          name,
          {
            scale: 2,
            encoderOptions: 1,
            backgroundColor: '#ffffff'
          }
        )
      );
    }).then(
        function(_success) { handleButtonPostDownload(); },
        function(_error) { handleButtonPostDownload(); }
      );
  }

  function handleButtonPreDownload() {
    const downloadMapButton = document.getElementById('download-button')
    const downloadMapIcon = document.getElementById('download-icon')
    const downloadMapSpinner = document.getElementById('download-spinner')

    downloadMapButton.disabled = true;
    downloadMapIcon.classList.add('d-none');
    downloadMapSpinner.classList.remove('d-none');

    worldMap.disableControlIcons();
  }

  function handleButtonPostDownload() {
    const downloadMapButton = document.getElementById('download-button')
    const downloadMapIcon = document.getElementById('download-icon')
    const downloadMapSpinner = document.getElementById('download-spinner')

    downloadMapSpinner.classList.add('d-none');
    downloadMapIcon.classList.remove('d-none');
    downloadMapButton.disabled = false;

    worldMap.enableControlIcons();
  }
