/* line 2, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-height: 600px;
}
/* line 8, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg .land {
  fill: #282F37;
  fill-opacity: 1;
  stroke: gray;
  stroke-opacity: 1;
  stroke-width: 0.5;
}
/* line 16, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg .land:hover {
  fill: #2E7060;
}
/* line 22, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg.dashboard .land {
  fill: #fbfbfb;
  stroke: gray;
}
/* line 27, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg.dashboard .land:hover {
  fill: #2E7060;
}
/* line 31, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg.dashboard .checked {
  fill: #2E7060;
}
/* line 35, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.map svg.dashboard g {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 43, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
.flag {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 51, /Users/robert/development/personal/rails/countryfier/app/assets/stylesheets/map.css.scss */
#mapbox {
  width: 100%;
  height: 500px;
}
