.widget-timeline-info
  .widget-timeline-bullet
.card
  .card-footer.text-md.text-muted
    That's it.
    %br
    Discover somewhere new
    = link_to 'and add it', new_checkin_path
    to your timeline
