.row
  .col-md-7
    = render 'map'
  .col-md-5
    %h1.m-t-9.m-b-2.font-size-28 Hello there, fellow traveller!
    %h4.m-y-1 Your personal country visits logbook
    %p.m-t-2.font-size-14
      Track the countries you have visited and statistics associated with that.
      Keep up to date with your travels and cross those countries of your bucket list.
    %p.m-t-4
      = link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success btn-flat'
      or
      = link_to 'Log in', new_user_session_path, class: 'text-bg text-slim'
