.row.align-items-center.justify-content-center.p-3.p-md-5.text-center.bg-light
  .col
    = render 'map'
  .w-100.d-block.d-md-none
  .col
    %h1.display-5.font-weight-normal Explore.
    %p.font-weight-normal.text-left.text-muted.text-bg.px-5
      Track the countries you have visited.
      Keep up to date with your travels and cross them of your bucket list...
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-secondary'

.row.my-md-3.pl-md-3
  .col.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
    .my-3.py-3
      %h2.display-6 Keep track.
      %p.font-weight-normal.text-bg Past trips or future exploration, add it to your travel timeline, cross them off your bucket list...
    .mx-auto.mb-5
      %i.fas.fa-tasks.text-light{ style: 'font-size: 94px;' }

  .col.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
    .my-3.p-3
      %h2.display-6 Go further.
      %p.font-weight-normal.text-bg Easily see countries yet to visit, effortlessly pick your next destination...
    .mx-auto.mb-5
      %i.fas.fa-passport.text-dark{ style: 'font-size: 94px;' }

.row.my-md-3.pl-md-3
  .col.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
    .my-3.p-3
      %h2.display-5 Quantify.
      %p.lead With dashboard statistics helping you to quantify and measure your progress...
    .mx-auto.mb-5
      %i.fas.fa-chart-line.text-dark{ style: 'font-size: 94px;' }

  .col.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
    .my-3.py-3
      %h2.display-5 Share.
      %p.lead Download, share and compare your progress with friends, even compete a little...
    .mx-auto.mb-5
      %i.fas.fa-share-alt-square.text-light{ style: 'font-size: 94px;' }
