.row.align-items-center.justify-content-center.pt-3.px-md-5.text-center
  .col
    %h1.font-weight-normal.mb-5 Terms and Privacy Policy
    %p.text-justify.text-black-50
      Your privacy is important. It is countrify's policy to respect your privacy regarding any information that may be
      collected from you across the website,
      =link_to 'https://countrify.net', root_path
      \. Your personal information is only asked for when it is truly needed it to provide a service to you.
      Countrify doesn't share any personally identifying information publicly or with third-parties, except when required to by law.
    %p.text-justify.text-black-50
      The website may link to external sites that are not operated by us. Please be aware that we have no control over
      the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
    %p.text-justify.text-black-50
      This policy is effective as of 1 January 2019.

.row.align-items-center.justify-content-center.px-md-5.text-center
  .col
    %h3.font-weight-normal.text-left Consent
    %p.text-justify.text-black-50
      Your continued use of the countirfy website will be regarded as acceptance and consent to this Privacy Policy and
      of practices around privacy and personal information.
      If you have any questions about how we handle user data and personal information, feel free to reach out on
      = mail_to('hello@countrify.net', 'hello@countrify.net', subject: 'Countrify')
      \.
    %p.text-justify.text-black-50
      You are free to refuse the request for your personal information, with the
      understanding that we may be unable to provide you with some of your desired services.

.row.align-items-center.justify-content-center.px-md-5.text-center
  .col
    %h3.font-weight-normal.text-left Data
    %p.text-justify.text-black-50
      Countrify collects a minimum amount of user data needed for it to work correctly.
      Data collected is used only to make the app work and will never be shared with 3rd parties for profit.
      When you register for an account at countrify, you will be asked for your contact information,
      including items such as name and email address.
      %br
      We use the information we collect in various ways, including to:
    %ul.text-black-50.text-left
      %li Provide, operate, and maintain the website
      %li Improve, personalize, and expand the website
      %li Understand and analyze how you use the website
      %li Develop new products, services, features, and functionality
      %li Communicate with you, either directly or through one of website's partners, including for customer service,
      to provide you with updates and other information relating to the website, and for marketing and promotional purposes
      %li Send you emails
      %li Find and prevent fraud

.row.align-items-center.justify-content-center.px-md-5.text-center
  .col
    %h3.font-weight-normal.text-left Logs
    %p.text-justify.text-black-50
      The countrify website follows a standard procedure of using log files. These files log visitors when they visit websites.
      The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP),
      date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable.
      The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website,
      and gathering demographic information.
      %br
      They are permanently removed after 14 days.
      With the exception of current and last sign in IP addresses, those are replaced after at most 2 consecutive sign in's.


.row.align-items-center.justify-content-center.px-md-5.text-center
  .col
    %h3.font-weight-normal.text-left Cookies
    %p.text-justify.text-black-50
      Like any other website, countrify uses 'cookies'. These cookies are used to store information including visitors' preferences,
      and the pages on the website that the visitor accessed or visited. The information is used to optimize the users'
      experience by customizing our web page content based on visitors' browser type and/or other information.
      You can choose to disable cookies through your individual browser options.

.row.align-items-center.justify-content-center.px-md-5.text-center
  .col
    %h3.font-weight-normal.text-left License
    %p.text-justify.text-black-50
      The software is provided "as is", without warranty of any kind, express or implied, including but not limited to
      the warranties of merchantability, fitness for a particular purpose and noninfringement.
      In no event shall the authors or copyright holders be liable for any claim, damages or other liability,
      whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software
      or the use or other dealings in the software.
      %br
      All intellectual property rights are reserved. You may access this from countrify for your own personal use subjected to
      restrictions set in these terms and conditions.

.row.align-items-center.justify-content-center.px-md-5.text-center.mb-5
  .col
    %h3.font-weight-normal.text-left Liability
    %p.text-justify.text-black-50
      As long as the website and the information and services on the website are provided free of charge,
      we will not be liable for any loss or damage of any nature.
