- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card{ data: { controller: 'pie-chart', pie_chart_color: '#AAB2BD' } }
  .card-body.text-center
    .text-sm.text-semibold Antarctica
    .py-2
      #antarctica_pie_chart.pie-chart{ data: { 'pie-chart-target': 'element', percent: "#{visited_percent}" } }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_antarcticans_path
