- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card{ data: { controller: 'pie-chart', pie_chart_color: '#DA4453' } }
  .card-body.text-center
    .text-sm.text-semibold North America
    .py-2
      #north_america_pie_chart.pie-chart{ data: { target: 'pie-chart.element', percent: "#{visited_percent}" } }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_north_americans_path
