- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card{ data: { controller: 'pie-chart', pie_chart_color: '#37BC9B' } }
  .card-body.text-center
    .text-sm.text-semibold World
    .py-2
      #world_pie_chart.pie-chart{ data: { 'pie-chart-target': 'element', percent: "#{visited_percent}" } }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_worlds_path
