.dropdown-item-text.notification-item.px-3.text-sm.text-muted{ id: "notification-#{notification.id}" }
  .d-flex.justify-content-between
    = notification.message
    = link_to '#', id: notification.id, class: 'text-muted', data: { behavior: 'notification-link' } do
      %i.fas.fa-times.text-xs.d-block
