#overlay.modal.fade{ tabindex: -1, role: 'dialog', data: { backdrop: 'static' }, aria: { labelledby: '#modal-label', hidden: 'true' } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-body.text-center
        = message
