.card.no-border.no-bg
  .card-heading.no-border.text-center{ style: 'background: #FFF;' }
    %span.pt-1.text-sm.text-semibold Countries per Year
  .card-body{ style: 'background: #FFF;' }
    #countries_chart
      = line_chart @dashboard.countries_chart_data.map { |graph|  |
        { name: graph[:name], data: graph[:query] }               |
      }, defer: true                                              |
