.d-flex.flex-row.justify-content-end.d-block.d-xs-none
  %button#download-button.btn.btn-sm.btn-outline-secondary{ href: '#', onclick: "saveSvg(document.getElementById('world-svg-desktop'), 'wold_map')" }
    %span Download map
    %i#download-spinner.spinner-border.spinner-border-sm.d-none{ role: 'status', aria: { hidden: 'true' } }
    %i#download-icon.fas.fa-cloud-download-alt.font-size-24
.d-flex.flex-row{ data: { controller: 'fill-map', fill_map_country_codes: @dashboard.country_code_array, fill_map_color: user_preferences_colour } }
  .flex-fill{ style: 'max-height: 700px; max-width: 1000px; margin: auto; padding-top: 0;' }
    .d-block.d-xs-none{ data: { controller: 'desktop-svg-map', action: 'resize@window->desktop-svg-map#resize' } }
    .d-block{ data: { controller: 'svg-map', action: 'resize@window->svg-map#resize' } }
