.row
  .col-sm-12
    .tab-content{ style: 'max-height: 700px; max-width: 800px; margin: auto; padding-top: 0;' }
      .tab-pane.active#world-pill
        = render 'dashboard/index/maps/world', dashboard: @dashboard
    = render 'dashboard/index/maps/country_checked', countries: @dashboard.country_code_array

:javascript
  function cursorMove(e) {
    if( $('div.tooltip').css('display') !== 'hidden' ) {
      let toolHalfHeight = $('div.tooltip').outerHeight() / 2;
      $('div.tooltip')
        .css('left', e.pageX + 10)
        .css('top', e.pageY - toolHalfHeight - 20);
    }
  }

  function flagged() { this.isScrolled = true; }

  function preventClick(event) {
    event.preventDefault();
    event.stopImmediatePropagation();
  }

  const worldSvgCountries = $('#world-svg [data-toggle="tooltip"]');
  const worldMap = svgPanZoom('#world-svg', { controlIconsEnabled: true });

  worldMap.updateBBox();
  worldSvgCountries.tooltip({
    container: 'body',
    placement: 'right',
    trigger: 'hover',
    template: '<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>'
  });

  $('#world-svg').on('mousemove', function (e) { cursorMove(e); });

  worldSvgCountries.on('mousedown', function() {
    $(this).on('mousemove', flagged);
    $(this).tooltip('hide');
  });

  worldSvgCountries.on('mouseup', function() {
    $(this).off('mousemove', flagged);
    $(this).tooltip('show');
  });

  worldSvgCountries.on('mouseup', function(e) {
    if (this.isScrolled) {
      $(this).on('click', preventClick);
    } else {
      $(this).off('click', preventClick);
    }
    this.isScrolled = false;
    cursorMove(e);
    $(this).off('mousemove', flagged);
  });
