.card.no-border.no-bg
  .card-heading.no-border.text-center{ style: 'background: #FFF;' }
    %span.pt-1.text-sm.text-semibold Top Regions
  .card-body{ style: 'background: #FFF;' }
    = bar_chart                                                                           |
      @dashboard.top_regions_chart_data,                                                  |
      library: { tooltips: { titleFontSize: 0, titleSpacing: 0, titleMarginBottom: 0 } }, |
      dataset: { borderWidth: 0, barThickness: 14, backgroundColor: '#DA4453' },          |
      defer: true                                                                         |
