.card.no-border.no-bg.mb-2{ data: { controller: 'bar-chart', bar_chart_labels: @dashboard.top_regions_chart_data.keys, bar_chart_values: @dashboard.top_regions_chart_data.values, bar_chart_height: 295 } }
  .card-heading.no-border.text-center{ style: 'background: #FFF;' }
    %span.pt-1.text-sm.text-semibold Top Regions
  #dashboard-top-regions.card-body.ct-chart{ style: 'background: #FFF;', data: { target: 'bar-chart.element' } }
