.card.no-border.no-bg.mb-2{ data: { controller: 'bar-chart', action: 'load@window->bar-chart#init', bar_chart_labels: @profile.top_regions_chart_data.keys, bar_chart_values: @profile.top_regions_chart_data.values, bar_chart_height: 295 } }
  .card-heading.no-border.text-center{ style: 'background: #FFF;' }
    %span.pt-1.text-sm.text-semibold Top Regions
  #profile-top-regions.card-body.ct-chart{ style: 'background: #FFF;', data: { target: 'bar-chart.element' } }
