- provide(:title, 'Preferences')
.d-flex.flex-row.justify-content-center.mt-3.mb-3.row
  = form_for current_user, url: preferences_path, method: :patch, html: { class: 'panel col-xs-12 col-sm-10 col-md-8 col-lg-5 col-xl-4 px-4' } do |f|
    = render 'form', f: f
