@import "chartist/dist/scss/chartist.scss";
@import "./pie-chart.scss";

@media (max-width: 767.98px) {
  .ct-chart-legend {
    .ct-legend-series {
      width: 2em !important;
      height: 0.8em !important;
    }
  }
}

.ct-chart-legend {
  .ct-legend-series {
    width: 4em;
    height: 1.1em;
  }

  .ct-legend-series-a {
    background: #d70206;
  }

  .ct-legend-series-b {
    background: #f05b4f;
  }
}

.pie-chart {
  display: inline-block !important;
  position: relative !important;

  .pie-chart-label {
    display: block !important;
    width: 100%;
    text-align: center;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute !important;
    top: 50%;
    font-weight: 300;
    font-size: 17px;
  }
}
