@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "./text.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./devise.scss";
@import "./map.scss";
@import "./timeline.scss";
@import "./explore.scss";

body {
  font-size: .875rem;
  background-color: #ffffff;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */

.nav-spacer{
  margin-top: 70px !important;
}


@media (max-width: 767.98px) {
  .nav-spacer{
    margin-top: 100px !important;
  }
}

.navbar .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.notification-item:hover {
  background-color: #f8f9fa;

  .d-none {
    display: inline-block !important;
  }
}

.dropdown-menu {
  width: 300px !important;
}

@media (max-width: 767.98px) {
  .dropdown-menu {
    width: 100% !important;
    right: 0 !important;
    left:0 !important;
  }
}

//
// Callouts
//

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  @include border-radius();

  h5 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: .25rem;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius();
  }

  .bd-callout {
    margin-top: -.25rem;
  }
}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: $color;

  h5 { color: $color; }
}

.bd-callout-info { @include bs-callout-variant($info); }
.bd-callout-warning { @include bs-callout-variant($warning); }
.bd-callout-danger { @include bs-callout-variant($danger); }
