@import "~bootstrap/scss/bootstrap.scss";

.dropdown-menu {
  width: 300px !important;
}

@media (max-width: 767.98px) {
  .dropdown-menu {
    width: 100% !important;
    right: 0 !important;
    left:0 !important;
  }
}

//
// Callouts
//

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  @include border-radius();

  h5 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: .25rem;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius();
  }

  .bd-callout {
    margin-top: -.25rem;
  }
}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: $color;

  h5 { color: $color; }
}

.bd-callout-info { @include bs-callout-variant($info); }
.bd-callout-warning { @include bs-callout-variant($warning); }
.bd-callout-danger { @include bs-callout-variant($danger); }
