- total_countries = CountriesCounter.north_american_countries_count
- visited_percent = (visited_countries_count / total_countries.to_f) * 100
.stat-panel.text-center
  .stat-row
    .stat-cell.padding-sm.text-xs.text-semibold North America
  .stat-row
    .stat-cell.padding-sm
      .pie-chart#north_america_pie_chart{ 'data-percent': "#{visited_percent}" }
        .pie-chart-label
          = "#{visited_countries_count}/#{total_countries}"
:javascript
  window.PixelAdmin.init.push(function () {
    var pieChartDefaults = {
      animate: 2000,
      scaleColor: false,
      lineWidth: 6,
      lineCap: 'square',
      size: 90,
      trackColor: '#e5e5e5'
    };

    $('#north_america_pie_chart').easyPieChart($.extend({}, pieChartDefaults, {
      barColor: '#DA4453'
    }));
  });
