@media (max-width: $screen-xs-max) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}