- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card{ 'data-controller': 'pie-chart', 'data-pie-chart-color': '#F6BB42' }
  .card-body.text-center
    .text-sm.text-semibold Africa
    .py-2
      #africa_pie_chart.pie-chart{ 'data-target': 'pie-chart.element', 'data-percent': "#{visited_percent}" }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_africans_path
