- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card{ 'data-controller': 'pie-chart', 'data-pie-chart-color': '#8CC152' }
  .card-body.text-center
    .text-sm.text-semibold Asia
    .py-2
      #asia_pie_chart.pie-chart{ data: { target: 'pie-chart.element', percent: "#{visited_percent}" } }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_asians_path
