- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.panel.box.text-center
  .box-row
    .box-cell.p-t-1.font-size-12.font-weight-semibold Oceania
  .box-row
    .box-cell.p-y-2
      #oceania_pie_chart.easy-pie-chart{ 'data-percent': "#{visited_percent}" }
        %span= "#{visited_countries_count}/#{countries_count}"
:javascript
  $(function() {
    $('#oceania_pie_chart').easyPieChart({
      animate: 2000,
      scaleColor: false,
      lineWidth: 6,
      lineCap: 'square',
      size: 90,
      trackColor: '#e5e5e5',
      barColor: '#3BAFDA'
    });
  });

