- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.panel.box.text-center
  .box-row
    .box-cell.p-t-1.font-size-12.font-weight-semibold Europe
  .box-row
    .box-cell.p-y-2
      #europe_pie_chart.easy-pie-chart{ 'data-percent': "#{visited_percent}" }
        %span= "#{visited_countries_count}/#{countries_count}"
:javascript
  var element = document.querySelector('#europe_pie_chart');
  new EasyPieChart(element, {
    animate: 2000,
    scaleColor: false,
    lineWidth: 6,
    lineCap: 'square',
    size: 90,
    trackColor: '#e5e5e5',
    barColor: '#4A89DC'
  });

