- visited_percent = (visited_countries_count / countries_count.to_f) * 100
.card
  .card-body.text-center
    .text-sm.text-semibold North America
    .py-2
      #north_america_pie_chart.pie-chart{ 'data-percent': "#{visited_percent}" }
        %span.pie-chart-label= link_to "#{visited_countries_count}/#{countries_count}", checkins_north_americans_path
- content_for :js do
  :javascript
    var element = document.querySelector('#north_america_pie_chart');
    new EasyPieChart(element, {
      animate: 2000,
      scaleColor: false,
      lineWidth: 6,
      lineCap: 'square',
      size: 90,
      trackColor: '#e5e5e5',
      barColor: '#DA4453'
    });
