- provide(:title, "Countries")

.row
  .col.col-6
    = #render 'shared/country', id: @country.id
  .col.col-6
    - values = county_field_values(@country)
    - country_field_labels.each_with_index do |label, index|
      .row
        .col.col-6
          %b= label
        .col.col-6
          = values[index]
