<div class="mx-auto max-w-3xl py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-indigo-600 sm:text-4xl">About</p>
    </div>
    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div class="grid grid-cols-1 gap-y-16">
        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="sm:min-w-0 sm:flex-1">
            <p class="mt-2 text-base leading-7 text-gray-600">This web app is a purely my main spare time pet project, that I solely develop whenever possible. New features will appear in due time, as soon as they are ready.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="sm:min-w-0 sm:flex-1">
            <p class="mt-2 text-base leading-7 text-gray-600">To track your travels, cross the countries you have visited from your bucket list and find which ones to explore next.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="sm:min-w-0 sm:flex-1">
            <p class="mt-2 text-base leading-7 text-gray-600">If you have any enquiries or feature requests, drop me an email on <%= mail_to('hello@countrify.net', 'hello@countrify.net', subject: 'Countrify contact') %></p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="sm:min-w-0 sm:flex-1">
            <p class="mt-2 text-base leading-7 text-gray-600">Please enjoy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>