.row.align-items-center.justify-content-center.p-3.p-md-5.text-center
  .col
    %h1.font-weight-normal about.
    %p.text-justify
      %span.text-black-50.margin-t-1
        This web app is a purely my main spare time pet project, that I solely
        develop whenever possible. New features will appear in due time,
        as soon as they are ready.
        %br
        To track your travels, cross the countries you have visited from your
        bucket list and find which ones to explore next.
    %p.text-justify
      %span.text-black-50.margin-t-1
        If you have any enquiries or feature requests, drop me an email on
        = mail_to('hello@countrify.net', 'hello@countrify.net', subject: 'Countrify contact')
    %p.text-justify
      %span.text-black-50.margin-t-1
        Please enjoy.
