/*
 *= require_self
 *= require ./text
 *= require ./sidebar
 *= require ./timeline
 *= require ./devise
 *= require ./explore
 *= require ./footer
 *= require ./map
 *= require ./fontawesome/all
 */

body {
  font-size: .875rem;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */

.nav-spacer{
  margin-top: 70px !important;
}


@media (max-width: 767.98px) {
  .nav-spacer{
    margin-top: 100px !important;
  }
}

.navbar .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}
