/*
 *= require_self
 *= require ./pie-chart
 */

 #dashboard-maps {
  ul {
    margin-bottom: 10px;

    li {
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
}

#dashboard-pie-charts {
  .stat-panel .stat-cell {
    padding-bottom: 0px;
  }
}
