.map {
  svg {
    margin: auto;
    width: 100%;
    height: auto;

    .land {
      fill: #282F37;
      fill-opacity: 1;
      stroke: gray;
      stroke-opacity: 1;
      stroke-width: 0.5;
    }

    .land:hover {
      fill: #2E7060;
    }
  }

  svg.checkin {
    .land {
      fill: #282F37;
      stroke: gray;
    }

    .land:hover {
      fill: #2E7060;
    }

    .checked {
      fill: #2E7060;
    }
  }
}
