.map {
  svg {
    margin: 0 auto;
    width: 100%;
    height: auto;

    .land {
      fill: #282F37;
      fill-opacity: 1;
      stroke: gray;
      stroke-opacity: 1;
      stroke-width: 0.5;
    }

    .land:hover {
      fill: #2E7060;
    }
  }

  svg.checkins {
    .land {
      fill: #FFF;
      stroke: gray;
    }

    .land:hover {
      fill: #2E7060;
    }

    .checked {
      fill: #2E7060;
    }

    g {
      margin-left:auto; margin-right:auto; display:block;
    }
  }
}
