.wrapper {
  padding-left: 700px;

  .sidebar-wrapper {
    margin-left: -700px;
    left: 700px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
  }

  .sidebar-wrapper:after {
    clear: both;
  }

  .content-wrapper {
    width: 100%;
  }
}
