- render 'shared/error_messages'
.form-group-lg.margin-t-10
  = f.label :country, class: 'form-label text-lg'
.form-group-lg
  = f.collection_select(:country_id, all_countries, :id, :name_common, { include_blank: 'Please select a country', class: 'form-control input-lg', selected: country_name_lookup })
.form-group-lg.margin-t-10
  = f.label :checkin_date, class: 'form-label text-lg'
  = f.text_field :checkin_date, class: 'form-control input-lg'
