- render 'shared/error_messages'
.form-group
  = f.label :country
  = f.collection_select(:country_id, all_countries, :id, :name_common, { include_blank: 'Please select a country', class: 'form-control', selected: country_name_lookup })
.form-group
  = f.label :checkin_date, class: 'form-label'
  = f.text_field :checkin_date, class: 'form-control'

:javascript
window.init.push(function() {
  $( "#checkin_country_id" ).select2({
      theme: "bootstrap"
  });

  var checkin = $('#checkin_checkin_date').datepicker({ format: 'yyyy-mm-dd' }).datepicker('setValue', new Date)
  checkin.on('changeDate', function(ev) {
    checkin.datepicker('hide');
  });
});
