- provide(:title, 'Country Checkin')
= turbo_frame_tag dom_id(@checkin) do
  .widget-timeline-info
    .widget-timeline-bullet.bg-success
  .card
    .card-body.text-md.px-auto
      = form_for @checkin do |f|
        = render 'form', f: f
