- flash.each do |message_type, message|
  .alert.alert-dismissible.fade.show{ id: "flash-#{message_type}", class: "#{flash_message_css_class(message_type)} text-md", role: 'alert', data: { controller: 'timeout-remove', target: 'timeout-remove.element', timeout_remove_value: 3000 } }
    %button.close.align-top{ type: 'button', 'data-dismiss': 'alert', aria: { label: 'Close' } }
      %span{ aria: { hidden: 'true' } } &times;
    = message
