- flash.each do |message_type, message|
  = content_tag :div, class: "alert alert-#{message_type}" do
    = message

:javascript
  window.PixelAdmin.init.push(function () {
    $('.alert').delay(1000).fadeOut(400);
  });
