- flash.each do |message_type, message|
  .alert.alert-dismissible.fade.show{ id: "flash-#{message_type}", class: "#{flash_message_css_class(message_type)} text-md", role: 'alert', data: { controller: 'flash', target: 'flash.element', flash_value: 3000 } }
    %button.close.pt-2{ type: 'button', aria: { label: 'Close' }, data: { action: 'flash#close' } }
      %span{ aria: { hidden: 'true' } } &times;
    = message
