%nav.pt-3.accordion.collapse.d-md-block#sidebar{ data: { controller: 'sidebar-navigation', target: 'sidebar-navigation.sidebar', parent: '#sidebarToggle' }, aria: { labelledby: 'sidebarToggle', expanded: 'false' } }
  %ul.nav.flex-column
    = render 'layouts/sidebar/checkins'
    = render 'layouts/sidebar/explore'
