%nav.px-nav.px-nav-left
  %button.px-nav-toggle{ 'type' => 'button', data: { 'toggle' => 'px-nav' } }
    %span.px-nav-toggle-arrow
    %span.navbar-toggle-icon
    %span.px-nav-toggle-label.font-size-11
      HIDE MENU

  %ul.px-nav-content
    = render 'layouts/checkins_sidebar_navigation'
    = render 'layouts/explore_sidebar_navigation'
