%html
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/header'
    .container
      .row
        .col-lg-12
          = render 'layouts/flash'
      .row
        .col-lg-12
          = yield
