= content_for :layout_custom_head do
  = stylesheet_pack_tag 'country', 'data-turbolinks-track': 'reload', media: 'all', 'data-turbolinks-track' => true
  = javascript_pack_tag 'country', 'data-turbolinks-track': 'reload', defer: true, async: true
= render 'layouts/application'
